*,
*::after,
*::before{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #262C27;
    /* font-family: 'Comfortaa', cursive; */
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    object-fit: cover;
}
ul, li{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    position: relative;
    min-height: 100vh;
    background: url(../images/header-bg.jpg) center center/cover no-repeat;
}
.header::before{
    content: "";
    position: absolute;
    background: url(../images/header-decor.svg) center center/cover no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    transform: translateY(35%);
    z-index: 2;
}
.header::after{
    content: "";
    position: absolute;
    background: url(../images/header-decor.svg) center center/cover no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    transform: translateY(90%) rotate(180deg);
    z-index: 3;
}
.header__top{
    display: flex;
    align-items: center;
    padding: 57px 0;
    gap: 100px;
    justify-content: flex-end;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}
.header__btn{
    background: #262C27;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 12px 71px;
    cursor: pointer;
}
.logo path{
    transition: fill .3s ease;
}
.logo:hover path{
    fill: #0093A1;
}
.header__content{
    min-height: calc(100vh - 161px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__content-box{
    max-width: 550px;
    margin-right: 30px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-family: 'Comfortaa', cursive;
}
.header__title{
    text-transform: uppercase;
    font-size: 64px;
    line-height: 71px;
    margin-bottom: 20px;
}
.header__text{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 27px;
}
.header__decor-text{
    position: absolute;
    bottom: 25px;
    color: #0093A1;
}
.header__decor-text--one {
    z-index: 1;
    right: 145px;
    bottom: 120px;
}
.header__decor-text--one,
.header__decor-text--two{
    font-family: 'Comfortaa', cursive;
    opacity: 0.3;
    line-height: 145px;
    font-size: 130px;
    font-weight: 400;
}
.header__decor-text--two {
    z-index: 4;
    right: 580px;
    bottom: 0;
}
.header__decor-text--three {
    max-width: 360px;
    right: 145px;
    z-index: 4;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}
.main{
    position: relative;
}
.info{
    min-height: 1750px;
    background: url(../images/info-bg.jpg) center center/cover no-repeat;
    color: #fff;
}
.info__block{
    position: absolute;
    top: -180px;
    left: 0;
    right: 0;
    height: 180px;
    background: #262C27;  
}
.info__inner{
    position: relative;
    margin: 180px 0 50px 0;
}
.info__top{
    display: flex;
    justify-content: center;
    align-items: end;
}
.info__descr{
    display: flex;
}
.info__text{
    position: relative;
    max-width: 290px;
    margin: 0 82px;
}
.info__text_2{
    padding-bottom: 30px;
    border-bottom: 1px solid #FFFFFF;
}
.play{
    background: none;
    border: none;
    color: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    cursor: pointer;
    position: absolute;
    transition: all .5s ease;
}
.play:hover{
    color: #0093A1;
}
.play svg{
    display: block;
    margin: 0 auto;
    padding-bottom: 12px;
}
.play path{
    transition: fill .5s ease;
}
.play circle{
    transition: stroke .5s ease;
}
.play:hover circle{
    stroke: #B9C400;
}
.play:hover path{
    fill: #B9C400;
}
.info__play{
    right: 0;
    bottom: 0;
}
.sup{
    z-index: 5;
}
.info__spec{
    margin-top: 65vh;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
.info__spec-list{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 30px 0;
    width: 565px;
}
.title{
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 67px;
    text-transform: uppercase;
}
.info__spec-title{
    margin-right: 162px;
}
.info__spec-item{
    margin-bottom: 15px;
    display: flex;
    gap: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.info__spec-caption{
    width: 185px;
}
.buy{
    margin-top: 150px;
}
.buy__title{
    color: #0093A1;
}
.buy__inner{
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buy__descr{
    position: relative;
    width: 292px;
}
.buy__price{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: -200px;
    width: 201px;
    height: 199px;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    background: url(../images/star.svg) center center/cover no-repeat;
    transition: all .5s ease;
}
.buy__price:hover{
    font-size: 40px;
    transform: scale(1.3);
}
.buy__descr-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    transition: color .5s ease;
}
.buy__descr-title:hover{
    color: #0093A1;
}
.buy__descr-text{
    margin-top: 5px;
    margin-bottom: 25px;
}
.buy__btn{
    width: 484px;
    height: 80px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 40px;
    line-height: 85px;
    color: #0093A1;
    background: none;
    border: 2px solid #0093A1;
    cursor: pointer;
    transition: all .5s ease;
}
.buy__btn:hover{
    border-color: #B9C400;
    background: #B9C400;
    color: #000;
}
.technology{
    margin-bottom: 150px;
}
.technology__top{
    padding-top: 652px;
    background: url(../images/technology-bg.png)center center/cover no-repeat;
    /* min-height: 1369px; */
}
.technology__top-inner{
    position: relative;
    min-height: 110vh;
}
.technology__play{
    right: 350px;
    color: #fff;
}
.technology__title{
    max-width: 470px;
    margin-bottom: 62px;
}
.technology__top-box{
    position: absolute;
    left: 0;
    bottom: 70px;
}
.technology__list{
    margin: 0;
    padding-left: 20px;
}
.technology__list-item{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-left: 19px;
}
.gallery__box{
    position: relative;
    display: flex;
    gap: 68px;
    margin-top: 114px;
}
.gallery__text{
    width: 350px;
}
.gallery__min{
    display: grid;
    gap: 30px 24px;
    grid-template-columns: 481px 208px;
    grid-template-rows: 432px 300px;
    margin-top: -36%;
    position: relative;
    padding: 72px 32px 52px;
    margin-bottom: 150px;
}
.gallery__min::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 3px solid #262C27;
    border-radius: 200px 0px 300px;
}
.gallery__min-img_1{
    grid-column: 1 / 3;
    border-radius: 400px 0px 0px 0px;
}
.gallery__min-img_2{
    border-radius: 0px 0px 0px 300px;
}
.gallery__max{
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 469px 391px;
    grid-template-rows: 340px 270px 270px;
}
.gallery__max-img_2{
    grid-column: 2 / -1;
    justify-self: end;
    border-radius: 0px 500px 0px 0px;
}
.gallery__max-img_3{
    border-radius: 0px 0px 150px 0px;
}
.gallery__max-img_4{
    border-radius: 0px 200px 0px 0px;
}
.gallery__max-img_5{
    border-radius: 200px 0px 0px 0px;
}
.gallery__max-text{
    width: 300px;
    height: 270px;
    background: #0093A1;
    border-radius: 0px 0px 0px 200px;
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.gallery__max-img_6{
    grid-column: 2 / -1;
    border-radius: 0px 0px 0px 400px;
}
.footer{
    background: #262C27;
    padding: 100px 0 83px;
    color: #fff;
}
.footer__top{
    display: flex;
    justify-content: space-between;
}
.footer__title{
    max-width: 500px;
    margin-bottom: 35px;
}
.footer__form-input{
    display: block;
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    margin-bottom: 57px;
    color: #fff;
}
.footer__form-input::placeholder{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.2;
}
.footer__form-btn{
    font-family: 'Comfortaa', cursive;
    padding: 10px 66px;
    border: none;
    margin-bottom: 110px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #000;
}
.footer__social{
    margin-bottom: 28px;
    font-weight: 700;
}
.footer__gallery{
    display: grid;
    gap: 52px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 51px;
}
.footer__menu-list{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}
.footer__menu-item{
    list-style-type: none;
}
.footer__logo{
    align-self: flex-start;
}
.footer__logo path{
    transition: fill .5s ease;
}
.footer__logo:hover path{
    fill: #0093A1;
}
@media (max-width: 1230px){
    .header__decor-text--two{
        left: 0;
    }
    .buy__title{
        text-align: center;
    }
    .buy__inner{
        flex-direction: column;
        justify-content: center;
    }
    .buy__img{
        order: -1;
    }
    .buy__btn{
        display: block; 
        margin: 0 auto;
    }
}
@media (max-width: 1110px){
    .info__inner{
        padding-top: 196px;
    }
    .info__top,.info__descr{
        display: block;
    }
    .info__text{
        max-width: max-content;
        width: 100%;
        margin: 100px 0;
    }
    .info__play{
        transform: translateY(100%);
    }
    .info__sup{
        display: block;
        width: 227px;
        margin: 0 auto;
    }
    .info__spec{
        display: block;
    }
}
@media (max-width: 770px){
    .buy__price{
        position: initial;
        margin: 50px auto;
    }
}
@media (max-width: 630px){
    .info__spec-list{
        width: 100%;
    }
    .info__spec-item{
        display: block;
    }
    .buy__img{
        width: 270px;
    }
    .buy__btn{
        width: 270px;
    }
}
@media (max-width: 720px){
    .header__top{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 95px;
    }
    .header__btn{
        width: 70%;
    }
    .header__content-box{
        margin-right: 0;
    }
}
@media (max-width: 414px){
    .header__decor-text{
        display: none;
    }
    .header__content{
        position: relative;
        z-index: 5;
    }
}
@media (max-width: 375px){
    .header__title{
        font-size: 50px;
        line-height: 60px;
    }
    .buy__descr{
        text-align: center;
    }
}